:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131212;
    margin: 0;
}

.cronometro-container {
    text-align: center;
}

#cronometro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin-top: 20px;
}

#cronometro div {
    padding: 10px;
}