* {
    margin: 0px;
    padding: 0px;
}

.corpo_site {
    color: white;
    background-color: black;
}

.cabeçalho {
    text-align: center;
}

.cabeçalho_titulo {
    font-size: 100px;
}

.cabeçalho_subtitulo {
    font-size: 40px;
}

.introdução {
    text-align: center;
    text-align: justify;
    padding: 15px;
}

.paragrafo-introdução {
    font-size: 30px;
}

.foto_turma {
    width: 100%;
}

.sessao_paginassecundarias {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.lista_paginassecundarias {
    display: inline-block;
    font-size: 20px;
    padding: 24px 142px;
}

.botao_paginassecundarias {
    padding: 24px;
    background-color: white;
    color: black;
}

.link_lista_paginassecundarias {
    text-decoration: none;
}

.sessao_imagens_desempenho {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.div_imagem_desempenho {
    text-align: center;
}

.foto_desempenho {}